<html>
   <body>
      <video controls="" autoplay="" src="videos/Dark.Matter.s01e01.rus.eng.CasStudio.mp4" type="video/x-m4v" class="media-document mac video" style="width: 100%;"></video>
      <button id="play">Play</button>
      <div style="white-space: pre-line; background-color: black; color: white;font-size: x-large;overflow: auto;height: 500;" id="srt"></div>
      <script type="text/javascript" src="jquery.js"></script>
      <script type="text/javascript">
  	    let srtPath = 'videos/Dark.Matter.s01e01.rus.eng.CasStudio.srt'
      </script>
      <script type="text/javascript" src="index.js"></script>
   </body>
</html>
