<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReaderTranlatorMac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ReaderTranslator.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ReaderTranslatorMac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ReaderTranslatorPlayer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ReaderTranslatorSafari.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F0120372239182DA008D0B47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0754436234479DA00E1D88E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F075444D23447A2700E1D88E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0AA699C232E9710007CC07B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0AA69B2232E9712007CC07B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0AA69BD232E9712007CC07B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
